<%= form_with(model: guardian, local: true) do |form| %>
  <% if guardian.errors.any? %><div class="alert alert-danger"><%= guardian.errors.full_messages.to_sentence %></div><% end %>

  <div class="form-group">
    <%= form.label :profile_photo, "Profile Photo", class: "font-weight-bold" %>
    <%= form.file_field :profile_photo, class: "form-control-file", accept: "image/png,image/jpeg,image/webp,image/gif" %>
  </div>

  <div class="row">
    <div class="col-md-4 form-group"><%= form.label :first_name, class: "font-weight-bold" %><%= form.text_field :first_name, class: "form-control" %></div>
    <div class="col-md-4 form-group"><%= form.label :middle_name, class: "font-weight-bold" %><%= form.text_field :middle_name, class: "form-control" %></div>
    <div class="col-md-4 form-group"><%= form.label :last_name, class: "font-weight-bold" %><%= form.text_field :last_name, class: "form-control" %></div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group"><%= form.label :occupation, class: "font-weight-bold" %><%= form.text_field :occupation, class: "form-control" %></div>
    <div class="col-md-6 form-group"><%= form.label :citizenship_id, "Citizenship", class: "font-weight-bold" %><%= form.collection_select :citizenship_id, @citizenships, :id, :name, { include_blank: "Select citizenship" }, class: "form-control" %></div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group"><%= form.label :email, class: "font-weight-bold" %><%= form.email_field :email, class: "form-control" %></div>
    <div class="col-md-6 form-group"><%= form.label :phone, class: "font-weight-bold" %><%= form.text_field :phone, class: "form-control" %></div>
  </div>

  <div class="form-group"><%= form.label :address_line, class: "font-weight-bold" %><%= form.text_area :address_line, rows: 3, class: "form-control" %></div>

  <div class="row">
    <div class="col-md-4 form-group"><%= form.label :country_id, "Country", class: "font-weight-bold" %><%= form.collection_select :country_id, @countries, :id, :name, { include_blank: "Select country" }, class: "form-control" %></div>
    <div class="col-md-4 form-group"><%= form.label :region_id, "Region", class: "font-weight-bold" %><%= form.collection_select :region_id, @regions, :id, :name, { include_blank: "Select region" }, class: "form-control" %></div>
    <div class="col-md-4 form-group"><%= form.label :province_id, "Province", class: "font-weight-bold" %><%= form.collection_select :province_id, @provinces, :id, :name, { include_blank: "Select province" }, class: "form-control" %></div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group"><%= form.label :city_id, "City", class: "font-weight-bold" %><%= form.collection_select :city_id, @cities, :id, :name, { include_blank: "Select city" }, class: "form-control" %></div>
    <div class="col-md-6 form-group"><%= form.label :barangay_id, "Barangay", class: "font-weight-bold" %><%= form.collection_select :barangay_id, @barangays, :id, :name, { include_blank: "Select barangay" }, class: "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="font-weight-bold d-block">Linked Students and Relationship</label>
    <% if @students.any? %>
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <thead>
            <tr>
              <th style="width: 96px;">Link</th>
              <th>Student</th>
              <th>Relationship for this student</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <% link_input = @student_link_inputs[student.id] || { selected: false, relationship: "" } %>
              <tr>
                <td>
                  <div class="form-check mb-0">
                    <%= check_box_tag "guardian[student_links][#{student.id}][selected]", "1", link_input[:selected], id: "guardian_student_link_#{student.id}", class: "form-check-input" %>
                    <%= label_tag "guardian_student_link_#{student.id}", "Link", class: "form-check-label small" %>
                  </div>
                </td>
                <td><%= student.full_name %></td>
                <td><%= text_field_tag "guardian[student_links][#{student.id}][relationship]", link_input[:relationship], class: "form-control form-control-sm", placeholder: "e.g. Mother, Aunt" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <small class="form-text text-muted">A guardian can have different relationships for each student.</small>
    <% else %>
      <div class="text-muted">No students available to link yet.</div>
    <% end %>
  </div>

  <div class="d-flex justify-content-between mt-4"><%= link_to "Back", guardians_path, class: "btn btn-outline-secondary" %><%= form.submit class: "btn text-white", style: "background-color: #0F0E47; border-color: #0F0E47;" %></div>
<% end %>
