<div class="card page-card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="section-title h3 mb-0"><%= @barangay.name %></h1>
      <div>
        <%= link_to 'Edit', edit_barangay_path(@barangay), class: 'btn btn-outline-brand' %>
        <%= link_to 'Back', barangays_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="muted-label">Location</div>
        <div><%= @barangay.city&.name || "-" %></div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="muted-label">Description</div>
        <div><%= @barangay.description.presence || "-" %></div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="muted-label">Remarks</div>
        <div><%= @barangay.remarks.presence || "-" %></div>
      </div>
    </div>
  </div>
</div>
