<%= form_with(model: enrollment_period, local: true) do |form| %>
  <% if enrollment_period.errors.any? %><div class="alert alert-danger"><%= enrollment_period.errors.full_messages.to_sentence %></div><% end %>
  <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to].present? %>
  <div class="form-group"><%= form.label :school_year_id, "School Year", class: "font-weight-bold" %><%= form.collection_select :school_year_id, @school_years, :id, :name, { include_blank: "Select school year" }, class: "form-control" %></div>
  <div class="form-group"><%= form.label :name, class: "font-weight-bold" %><%= form.text_field :name, class: "form-control" %></div>
  <div class="row"><div class="col-md-6 form-group"><%= form.label :starts_on, class: "font-weight-bold" %><%= form.date_field :starts_on, class: "form-control" %></div><div class="col-md-6 form-group"><%= form.label :ends_on, class: "font-weight-bold" %><%= form.date_field :ends_on, class: "form-control" %></div></div>
  <div class="form-group"><%= form.label :status, class: "font-weight-bold" %><%= form.select :status, EnrollmentPeriod::STATUSES.map { |status| [status.titleize, status] }, {}, class: "form-control" %></div>
  <div class="form-group"><%= form.label :description, class: "font-weight-bold" %><%= form.text_area :description, rows: 4, class: "form-control" %></div>
  <div class="d-flex justify-content-between mt-4"><%= link_to "Back", safe_return_path(enrollment_periods_path), class: "btn btn-outline-secondary" %><%= form.submit class: "btn text-white", style: "background-color: #0F0E47; border-color: #0F0E47;" %></div>
<% end %>
