<article class="resource-card card">
  <div class="card-body d-flex flex-column">
    <div class="resource-card__topline">
      <span class="resource-card__eyebrow">Admin Module</span>
      <span class="resource-card__badge"><%= pluralize(dashboard_card_count(card.title), "record") %></span>
    </div>

    <div class="resource-card__header">
      <span class="resource-card__icon" aria-hidden="true"><%= kendo_icon(card.icon, classes: "resource-card__icon-symbol") %></span>
      <h2 class="resource-card__title"><%= card.title %></h2>
    </div>

    <p class="resource-card__text"><%= card.description %></p>

    <div class="resource-card__actions mt-auto">
      <% card.card_actions.each do |action| %>
        <%= link_to action.label, action.path, class: "btn btn-outline-brand resource-card__button" %>
      <% end %>
    </div>
  </div>
</article>
