<div class="card page-card">
  <div class="card-header resource-card-header py-3 px-4">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1 class="section-title h3 mb-0">Regions</h1>
      </div>
      <%= link_to 'New Region', new_region_path, class: 'btn text-white', style: 'background-color: #0F0E47; border-color: #363636;' %>
    </div>
  </div>
  <div class="card-body pt-4">
    <div>
      <table class="table table-hover table-alt barangays-table mb-0">
        <thead>
          <tr>
            <th class="name-col">Name</th>
            <th class="name-col">Country</th>
            <th class="description-col">Description</th>
            <th class="remarks-col">Remarks</th>
            <th class="text-right actions-col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @regions.each do |region| %>
            <tr>
              <td class="font-weight-bold name-col"><span class="name-text"><%= region.name %></span></td>
              <td class="name-col"><%= region.country&.name || "-" %></td>
              <td class="description-col"><%= region.description.presence || "-" %></td>
              <td class="remarks-col"><%= region.remarks.presence || "-" %></td>
              <td class="text-right actions-col">
                <%= link_to 'View', region, class: 'btn btn-sm btn-outline-secondary' %>
                <%= link_to 'Edit', edit_region_path(region), class: 'btn btn-sm btn-outline-brand' %>
                <%= link_to 'Delete', region, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="pagination-wrap d-flex justify-content-center mt-4">
      <%= paginate @regions, window: 2, outer_window: 0, left: 0, right: 0 %>
    </div>
  </div>
</div>
