<div class="card page-card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="section-title h3 mb-0"><%= @region.name %></h1>
      <div>
        <%= link_to 'Edit', edit_region_path(@region), class: 'btn btn-outline-brand' %>
        <%= link_to 'Back', regions_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="muted-label">Country</div>
        <div><%= @region.country&.name || "-" %></div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="muted-label">Description</div>
        <div><%= @region.description.presence || "-" %></div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="muted-label">Remarks</div>
        <div><%= @region.remarks.presence || "-" %></div>
      </div>
    </div>
  </div>
</div>
