<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-body">
    <nav class="navbar navbar-expand-lg navbar-dark app-navbar mb-4">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand app-navbar__brand" do %>
          <span class="app-navbar__brand-icon" aria-hidden="true">
            <%= bootstrap_icon("mortarboard-fill", classes: "app-navbar__brand-svg") %>
          </span>
          <span class="app-navbar__brand-text">School Management System</span>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavigation">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item <%= 'active' if controller_name == 'home' %>"><%= link_to "Home", root_path, class: "nav-link" %></li>
            <li class="nav-item <%= 'active' if controller_name == 'countries' %>"><%= link_to "Countries", countries_path, class: "nav-link" %></li>
            <li class="nav-item <%= 'active' if controller_name == 'regions' %>"><%= link_to "Regions", regions_path, class: "nav-link" %></li>
            <li class="nav-item <%= 'active' if controller_name == 'provinces' %>"><%= link_to "Provinces", provinces_path, class: "nav-link" %></li>
            <li class="nav-item <%= 'active' if controller_name == 'cities' %>"><%= link_to "Cities", cities_path, class: "nav-link" %></li>
            <li class="nav-item <%= 'active' if controller_name == 'barangays' %>"><%= link_to "Barangays", barangays_path, class: "nav-link" %></li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container pb-5">
      <% flash.each do |type, message| %>
        <% next if message.blank? %>
        <% alert_class = type.to_s == "notice" ? "alert-success" : "alert-danger" %>
        <div class="alert <%= alert_class %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
